<ion-header>
  <ion-toolbar>
    <ion-title>display</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
		    <ion-card-title>Milestone: </ion-card-title>
		    <ion-card-title>{{getMilestoneName()}}</ion-card-title>
			<ion-button class="" (click)="onEditMilestoneBtnClick()">Edit</ion-button>
		</ion-card-header>

			<ion-card-content class="yellowBackground" *ngFor="let labour of getLabours()">
				<ion-card-content class="blueBackground">
					<span class="labourName">{{labour['name']}}</span><br/>
					<span class="questionText" *ngFor="let q of labour['questions']" (click)="onQuestionClicked(q)">
						{{ q.text }}<br/>
						{{ q.description }}<br/>
						<br/><br/>
					</span>
			</ion-card-content>
		</ion-card-content>
	</ion-card>

</ion-content>
