<ion-header>
  <ion-toolbar>
    <ion-title>Milestone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
		    <ion-card-title>Name: {{getMilestoneName()}}</ion-card-title>
			<ion-button class="" (click)="onEditMilestoneBtnClick()">Edit</ion-button>
		</ion-card-header>

			<ion-card-content class="yellowBackground" *ngFor="let labour of getLabours()">
				<ion-card-content class="blueBackground">
					<span class="labourName">{{labour['name']}}</span><br/>
					<ion-item class="questionText" *ngFor="let q of labour['questions']" (click)="onQuestionClicked(q)">
						{{ q.text }}<br/>
						{{ q.description }}<br/>
					</ion-item>
			</ion-card-content>
		</ion-card-content>
	</ion-card>

</ion-content>
<ion-footer>
	<ion-button class="" (click)="onBackBtnClick()">Back</ion-button>
</ion-footer>