<ion-header>
  <ion-toolbar>
    <ion-title>Edit Labour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="floating">Name:</ion-label>
		<ion-input data-test="labour-edit-input" (ionInput)="onNameChange($event)" [value]="getLabourName()" required></ion-input>
	</ion-item>
	<hr>
	<ion-item>Select the questions which make up this Labour:</ion-item>
	<ion-item *ngFor="let question of getQuestions()">
		<ion-label>{{ question['text'] }}</ion-label>
		<ion-checkbox slot="start" (ionFocus)="onQuestionSelectionChanged($event)" [(ngModel)]="question.isSelected"></ion-checkbox>
	</ion-item>
	<br/>
</ion-content>
<ion-footer>
	<ion-button class="" [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnClick()">Save</ion-button>
	<ion-button class="" (click)="onCancelBtnClick()">Cancel</ion-button>
</ion-footer>