<ion-header>
  <ion-toolbar>
    <ion-title>Edit Career Goal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="floating">Name:</ion-label>
		<ion-input data-test="career-goals-edit-input" (ionInput)="onNameChange($event)" [value]="getCareerGoalName()" required></ion-input>
	</ion-item>
	<hr>
	<ion-item>Select the Paths which make up this Career Goal:</ion-item>
	<ion-item *ngFor="let path of getPaths()">
		<ion-label>{{ path['name'] }}</ion-label>
		<ion-checkbox slot="start" (ionFocus)="onPathSelectionChanged($event)" [(ngModel)]="path.isSelected"></ion-checkbox>
	</ion-item>
</ion-content>
<ion-footer>
	<ion-button class="" [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnClick()">Save</ion-button>
	<ion-button class="" (click)="onCancelBtnClick()">Cancel</ion-button>
</ion-footer>