<ion-header>
  <ion-toolbar>
    <ion-title>Edit Path</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name:</ion-label>
    <ion-input data-test="paths-edit-input" (ionInput)="onNameChange($event)" [value]="getPathName()" required></ion-input>
  </ion-item>
  <hr>
  <ion-item>Select the Milestones which make up this Path:</ion-item>
  <ion-item *ngFor="let milestone of getMilestones()">
    <ion-label>{{ milestone['name'] }}</ion-label>
    <ion-checkbox slot="start" (ionFocus)="onMilestoneSelectionChanged($event)" [(ngModel)]="milestone.isSelected"></ion-checkbox>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button class="" [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnClick()">Save</ion-button>
  <ion-button class="" (click)="onCancelBtnClick()">Cancel</ion-button>
</ion-footer>
